<div class="container"> 
    <table  class="table table-borderless table-hover table-dark" >
        <thead class="table-red">
            <tr> 
                <th>Team ID</th>   
                <th> Team members </th>
                <th> Timer </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let team of TeamsList; let i = index" [attr.data-index]="i">
                <td> {{i}} </td>
                <td> {{ team.members }}  </td>
                <td>  {{team.time}} </td>
            </tr>
        </tbody>
    </table>
    
</div>
<div class="d-grid justify-content-center">
    <button class="btn btn-link" routerLink="/rules">Back to challenge or IS THAT ALL ?</button>
    <div class="btn btn-link">Are you finished already ?</div>
    <button class="btn btn-outline-dark fulldark" routerLink="/hidden">HERE</button>
</div>