<div class="container-md justify-content-center">
    <div class="card bg-light  mb-3">
        <div class="card-image-top"></div>
        
        <div class="card-body">
            <h3 class="card-title">
                Game Rules
            </h3>
            <ul>
                <li>NO HURRY!!! Read Carefully and watch carefully </li>
                <li>Security is not only about MACHINES ,servers or PCs ...it's also about imagination and thinking out of ordinary</li>
                <li>This Game is about pride challenge and honor</li>
                <li>Every Team must get the FLAG in 1 hour and 30 minutes</li>
                <li>You may require internet connection</li>
                <li>If you didn't win in time you should be ready for the punishment</li>
                <li>You should not erase/write on tables</li>
                <li>You should not spoil on other teams </li>
                <li>Enjoy from the BUTTON of your heart</li>
            </ul>
        </div>
    </div>
</div>
<div class="d-grid justify-content-center">
    <button class="btn btn-outline-primary btn-lg mx-2 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="this.refresh()">
        Make Contract 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex mx-2" viewBox="0 0 16 16">
        <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
      </svg>
    </button>
    <br>
    <button class="btn btn-link btn-md mx-2" routerLink="/">You gonna run away ?</button>
    <button class="btn btn-link btn-md mx-2" routerLink="/teams">Teams Performnce</button>
    
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Register Team</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <div class="zina"></div>
                <input type="text" aria-label="First name" 
                class="form-control" placeholder="Player1" required
                [(ngModel)]="this.player1">
                <input type="text" aria-label="Last name" class="form-control" placeholder="Player2"
                [(ngModel)]="this.player2">
                <input type="text" aria-label="Last name" class="form-control" placeholder="Player3"
                [(ngModel)]="this.player3">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Run away</button>
            <button class="btn btn-primary" type="submit" data-bs-toggle="collapse" [disabled]="this.showed"
            data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"
            (click)="this.addTeam()">
              Start Game
            </button>
            <br>
          <div style="min-height: 100px;padding-top: 15px;">
            <div class="collapse" id="collapseWidthExample" [hidden]="!this.showed">
              <div>
                The Game has started .
                <br>
                Your First hint and task will be <p id="hint">"0 MAP X BASE"</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

